# `pandas` Experiments

# Create an empty DataFrame

In [2]:
import pandas as pd

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

# Add data to an empty DataFrame

- https://www.geeksforgeeks.org/how-to-create-an-empty-dataframe-and-append-rows-columns-to-it-in-pandas/
- https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/

In [3]:
import pandas as pd

df = pd.DataFrame()
df["Name"] = ["Guido", "Alex", "Steve"]
df["Jobs"] = ["Developer", "Author", "Speaker"]
df

    Name       Jobs
0  Guido  Developer
1   Alex     Author
2  Steve    Speaker

# Convert a `dict` to a DataFrame

In [4]:
import pandas as pd

data = {"Names": ["Mike", "Rodrigo", "Sundeep"],
        "Jobs": ["Author", "Content Creator", "Author"],
        "Books": ["Python 101", "PyDon'ts", "Python re(gex)?"]}
df = pd.DataFrame(data)
df

     Names             Jobs            Books
0     Mike           Author       Python 101
1  Rodrigo  Content Creator         PyDon'ts
2  Sundeep           Author  Python re(gex)?

# Get a Specific Value from a DataFrame

In [5]:
import pandas as pd

data = {"Names": ["Mike", "Rodrigo", "Sundeep"],
        "Jobs": ["Author", "Content Creator", "Author"],
        "Books": ["Python 101", "PyDon'ts", "Python re(gex)?"]}
df = pd.DataFrame(data)
df = df.set_index("Names")
df.loc["Sundeep", "Books"]

'Python re(gex)?'

In [14]:
import pandas as pd

data = {"Names": ["Mike", "Rodrigo", "Sundeep"],
        "Jobs": ["Author", "Content Creator", "Author"],
        "Books": ["Python 101", "PyDon'ts", "Python re(gex)?"]}
df = pd.DataFrame(data)

# Get the column where the data is
col = df.loc[df.columns == "Books"].index.values[0]

# Get the row where the data is
row = df.loc[df["Books"] == "Python re(gex)?"].index.values[0]

# Extract the data you want
print(df.iloc[col, row])

# Alternate method of getting the data
print(df._get_value(row, df.columns[col]))

# 3rd method 
# df.loc[df.Names == "Sundeep"].Books.iloc[0]

Python re(gex)?
Python re(gex)?

In [13]:
df.loc[df.Names == "Sundeep"].Books.iloc[0]

'Python re(gex)?'